repos:
  - repo: "https://github.com/pre-commit/pre-commit-hooks"
    rev: "v4.4.0"
    hooks:
      - id: "check-added-large-files"
      - id: "check-vcs-permalinks"
      - id: "no-commit-to-branch"
      # TODO: Apply this fixer and add an entry to .git-blame-ignore-revs
      # - id: "end-of-file-fixer"

  - repo: "https://github.com/charliermarsh/ruff-pre-commit"
    rev: "v0.0.269"
    hooks:
      - id: "ruff"
        # NOTE: "--exit-non-zero-on-fix" is important for CI to function
        # correctly!
        args: ["--fix", "--exit-non-zero-on-fix"]

  - repo: "https://github.com/psf/black"
    rev: "23.3.0"
    hooks:
      - id: "black"
